
/* floating input css  */
.fl_wrapper svg{
  position: absolute;
  left: 7px;
  z-index: 999;
  top: 12px;
  width: 20px;
  height: 20px;
}
.header .form-control{
  padding-left: 35px !important;
}
.header .form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}

.header .form-floating>.form-control {
  width: 300px;
  border: none;
  background: #f8f8f8;
  border-radius: 0;
  padding: 0px;
}
.header .form-floating>.form-control, .form-floating>.form-select {
  line-height: 1.25;
  height: 40px;
}
.header .form-floating>label {
  padding: 9px 40px;
}

.header .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
  opacity: 1 !important;
  color: rgb(40 34 98) !important;
margin-left: 30px;
background-color: white;
padding: 0px;
height: 22px !important;
}


/* end of floating input  */


.navbar-brand img{
width: 103px;
}

.navbar_text_style{
  padding: 0.1rem 2rem !important;
  color: #4f4f4f !important;
}


.myDropdown {
  background-color: coral;
  width: 100% !important;
}
.navbar-brand{
  color: #27235e !important;
  font-weight: 400;
  font-size: 24px !important;
}

.navbar {
  box-shadow: 1px 2px 3px #aaaaaa61;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;

}

.navbar-light .navbar-nav .nav-link:focus {
  color: #27235e !important;
}

.show>.nav-link {
  color: #27235e !important;
}

.navbar .megamenu {
  padding: 1rem;
}

.navbar .nav-link:hover {
  color: #27235e !important;
  text-decoration: underline;
}

.dropdown-menu {
  border: none !important;
}

.dropdown-menu[data-bs-popper] {
  top: 95% !important;
  left: 0;
  margin-top: -9px;
  
}

.custom {
  display: flex;
  justify-content: flex-end;

}


.w-10 {
  width: 20% !important;
  padding: 6px !important;
}

.has-megamenu>.nav-link:hover {
  color: #27235e !important;
  text-decoration: underline;
}

.custom .nav-link:hover,
.custom>.dropdown-item:hover {
  color: #27235e !important;
  text-decoration: underline;
  background-color: transparent;
}

.subCustom {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  border-top:1px solid #aaaaaa61;
  padding-top: 10px;
}

.sub-wrapper{

    display: flex;
    flex-wrap: wrap;
    width: 50%;

}
.navbar-light .navbar-nav .nav-link {
  color: #121212 !important;
}
.subCustom span {
  font-size: 12px;
  color: #121212;
  font-family: 'Poppins', sans-serif;
  
}

.itemsOfSubItem .dropdown-item:hover {
  background-color: transparent;
  color: #27235e
}

.itemsOfSubItem {
  width: 33%;
}


.header_nav{
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
  border-bottom: 0.1rem solid #e3dede !important;
  box-shadow: none !important;
}




.dropdown-toggle::after{
  content: '';
  height: 15px;
  width: 15px;
  border: none;
  background-image: url('./../../Assets/toggleIcon.svg');
  vertical-align: -0.2em;
}

.content {
  height: 700px;

  background-color: cornflowerblue;
  position: relative;
}

.content h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.dropdown-item{
  color: #0000008c;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 0.5rem;
}
/* 

.footer {
  width: 100%;
  display: flex;
}

.footer .left-section {
  width: 60%;
}

.footer .right-section {
  width: 40%;
}
.right-section .footer-content{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.left-section .footer-content {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.left-section .footer-content .footer-list,
.left-section .footer-content .contact {
  width: 25%;
  padding: 20px;

}

.left-section .footer-content .footer-list ul {
  list-style: none;
  font-weight: 300;
}

.left-section .footer-content .footer-list ul li {
  font-size: 14px;
  margin-top: 12px;
}

.footer .left-section .footer-content .contact {
  font-size: 14px;
}

.footer .left-section .footer-content .contact span {
  font-weight: bold;
}

.footer .right-section .footer-content {
  padding: 120px  60px;
  background-color: #474476;
  color: white;
  
}

.footer .form-control {
  height: 40px !important;
  border-radius: 0px !important;
  outline: none !important;
  box-shadow: none !important;
  color: inherit !important;
}

.footer .form-floating>label {
  font-size: 12px !important;
  padding: 12px 8px !important;
  color: inherit !important;
}

.input-float-button {
  position: relative;
  color: black;
}

.input-float-button button {
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  background-color: #27235e;
  color: white;
  padding: 3px 15px;
}




.crl{
  text-align: center;
  color: black;
  
}

.crl p{ 
font-weight: lighter;
  padding: 15px;
  margin: 0px;
  font-size: 14px;
} */


@media all and (min-width: 992px) {

  .navbar .has-megamenu {
    position: static !important;
  }

  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }

  .dropdown-menu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }

}






@media(max-width: 991px) {

  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}



@media (max-width:768px){
  .custom {
    display: flex;
  flex-direction: column;
}
.subCustom{
  justify-content: space-between;
}
.w-10{
  padding:0px !important;
}
.sub-wrapper{
  width: 100%;
}


.footer {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.footer .right-section {
  width: 100%;
}
.footer .left-section {
  width: 100%;
}


}

@media(max-width:576px){
  .left-section .footer-content {flex-wrap: wrap;}
  .left-section .footer-content .footer-list, .left-section .footer-content .contact{
    width:50%;
  }
}